<div class="show-content">
<div class="search">
    <h2>Search <%= pluralize(@recipes.count, "Result") %></h2>
    <%= render 'search/form' %>
</div>
<br>
<%# for displaying all search results no algo to how they are sorted %>
<% @recipes.each do |r| %>
    <div class="recipe-content">
        <div class="grid-left">
            <div class="recipe-header">
                <h3><%= link_to r.name, r, class: 'btn' %></h3>
                <h3 class="recipe-owner">Created by: <%= link_to r.user.username, user_path(r.user), class: 'btn' %></h3>
            </div>
            <p class="desc-content"><%= r.instructions %> </p>
        </div>
        <img src="<%=r.image%>" alt="<%=r.name%>" class="index-img">
    </div>
<% end %>
</div>