<h1>All recipes</h1>

<% @recipes.each do |r| %>
    <div class="recipe-content">
        <div class="grid-left">
            <div class="recipe-header">
                <h3><%= link_to r.name, r, class: 'btn' %></h3>
                <h3 class="recipe-owner">Created by: <%= link_to r.user.username, user_path(r.user), class: 'btn' %></h3>
            </div>
            <p class="desc-content"><%= r.instructions %> </p>
        </div>
        <img src="<%=r.image%>" alt="<%=r.name%>" class="index-img">
    </div>
<% end %>