<h1>Create New Recipe</h1>
<div class="form-content">
    <%= form_for @recipe do |r| %>
        <%= r.label :name %>
        <%= r.text_field :name %>
        <%= r.label :ingredients %>
        <%= r.text_area :ingredients, class: "about-input-field" %>
        <%= r.label :instructions %>
        <%= r.text_area :instructions, class: "about-input-field"  %>
        <%= r.label :image %>
        <%= r.url_field :image %>
        <%= r.label :video %>
        <%= r.url_field :video %>
        <%= r.label :category %>
        <%= r.text_field :category %>
        <%= r.label :region %>
        <%= r.text_field :region %>

        <%=r.submit 'Submit', class: 'btn' %>
    <% end %>
    <br>
</div>

