<h1>Create New Recipe</h1>
<div class="form-content">
    <%= form_for @recipe do |r| %>
        <%= r.text_field :name, placeholder: 'Recipe Name' %>
        <%= r.text_area :ingredients, placeholder: "Recipe Ingredients seperated by ,", class: "about-input-field" %>
        <%= r.text_area :instructions, placeholder: 'Cooking instructions', class: "about-input-field"  %>
        <%= r.url_field :image, placeholder: 'Image url link (must link to an already hosted image)' %>
        <%= r.text_field :category, placeholder: 'Meal category ie- Breakfast' %>
        <%= r.text_field :region, placeholder: 'Meal origin ie- Mexican' %>

        <%=r.submit 'Submit', class: 'btn' %>
    <% end %>
    <br>
</div>

