<div class="show-content">
<br>
    <div class="secondary-nav">
        <h1><%= @recipe.name %></h1>
        <%= link_to @recipe.user.username, @recipe.user if @recipe.user != @current_user %>
        <% if @current_user.present? %>
            <% if @current_user == @recipe.user || @recipe.user.admin? %>
                <div class="buttons">
                    <%= link_to 'Edit', edit_recipe_path(@recipe)%>
                    <%= link_to 'Delete', @recipe, :method => 'delete'%>
                </div>
            <% end %>
        <% end %>
    </div>
    <img src="<%= @recipe.image %>" alt="<%= @recipe.name %>" class="img-show">
    <div class="likes-container">
        <h2 class="likes-counter"><span class="material-icons-outlined">thumb_up  </span> <%= @recipe.likes.count %></h2>
        <% like = @current_user.likes.find_by(recipe: @recipe) %>
        <% if like.nil? %>
            <%= button_to 'Like', likes_path, params: { like: { recipe_id: @recipe.id }}, class: 'btn like-btn', method: :post %>
        <% else %>
            <%= button_to 'Unlike', like_path(like), class: 'btn like-btn', method: :delete %>

        <% end %>
    </div>
    <div class="lower-grid">
        <div class="lower-left">
            <h3>Ingredients:</h3>
            <ul class="recipe-list">
                <% @ingredients_as_arr.each do |i| %>
                    <li><%= i%></li>
                <% end %>
            </ul>
        </div>
        <div class="lower-right">
            <h3>Instructions:</h3>
            <p class="recipe-instructions"><%= @recipe.instructions %></p>
        </div>
    </div>
    <%= link_to 'Add Comment', new_recipe_comment_path(@recipe), class: 'btn' %>
    <br>
    <div class="comment-container">
        <% @comment.each do |c| %>
                <% if c.recipe.id == @recipe.id %>
                    <div class="comment">
                        <div class="comment-header">
                            <h3><%= c.user.username %></h3>
                            <% if @current_user.present? %>
                                <% if @current_user.id == c.user.id %>
                                    <div class="buttons-container">
                                                <%#  edit recipe comment needs both ids assuming in the correct order %>
                                        <%= link_to 'Edit', edit_recipe_comment_path(@recipe.id, c.id), class: "btn" %>
                                        <%= link_to 'Delete', c, method: 'delete', class: "btn" %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <p><%= c.content %></p>
                        <p class="timestamp comment-timestamp"><%= c.created_at.strftime '%I:%M %p %A, %B %e, %Y' %></p>
                    </div>
                    <br>
            <% end %>
        <% end %>
    </div>
</div>
