<div class="show-content">
    <br>
    <div class="secondary-nav">
        <h1><%= @recipe.name %></h1>
        <div class="buttons">
            <%= link_to @recipe.user.username, @recipe.user, class: 'btn' if @recipe.user != @current_user %>
            <%# if logged in and own account or an admin display edit and delete recipe buttons %>
            <% if @current_user.present? %>
                <% if @current_user == @recipe.user || @current_user.admin? %>
                    <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn"%>
                    <%= link_to 'Delete', @recipe, :method => 'delete', data: {confirm: 'are you sure you wish to delete recipe?'}, class: "btn"%>
                <% end %>
            <% end %>
        </div>
    </div>
    <img src="<%= @recipe.image %>" alt="<%= @recipe.name %>" class="img-show">
    <div class="likes-container">
        <%# google font icon classes and span for thumbs up %>
        <h2 class="likes-counter"><span class="material-icons-outlined thumb">thumb_up </span></h2><h2 class="counter-number"> <%= @recipe.likes.count %></h2>
        <%# like button functionality %>
        <% if @current_user.present? %>
        <% like = @current_user.likes.find_by(recipe: @recipe) %>
            <% if like.nil? %>
                <%= button_to 'Like', likes_path, params: { like: { recipe_id: @recipe.id }}, class: 'btn', method: :post %>
            <% else %>
                <%= button_to 'Unlike', like_path(like), class: 'btn', method: :delete %>
            <% end %>
        <% end %>
    </div>
    <div class="lower-grid">
        <div class="lower-left">
            <h3>Ingredients:</h3>
            <ul class="recipe-list">
                <%# converts ingredients array to dot points %>
                <% @ingredients_as_arr.each do |i| %>
                    <li><%= i %></li>
                <% end %>
            </ul>
        </div>
        <div class="lower-right">
            <h3>About:</h3>
            <p class="recipe-instructions"><%= @recipe.instructions %></p>
        </div>
    </div>
    <%# if logged in show comment button %>
    <% if @current_user.present? %>
        <%= link_to 'Add Comment', new_recipe_comment_path(@recipe), class: 'btn' %>
    <% end %>
    <br>
    <div class="comment-container">
        <% @comment.order(:created_at).reverse_order.each do |c| %>
                <% if c.recipe.id == @recipe.id %>
                    <div class="comment">
                        <div class="comment-header">
                            <h3><%= c.user.username %></h3>
                            <% if @current_user.present? %>
                                <%# if you made comment show edit and delete buttons TODO admin delete %>
                                <% if @current_user.id == c.user.id %>
                                    <div class="buttons-container">
                                        <%= link_to 'Edit', edit_recipe_comment_path(@recipe.id, c.id), class: "btn" %>
                                        <%= link_to 'Delete', c, method: 'delete', class: "btn" %>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                        <p><%= c.content %></p>
                        <p class="timestamp comment-timestamp"><%= c.created_at.strftime '%I:%M %p %A, %B %e, %Y' %></p>
                    </div>
                    <br>
            <% end %>
        <% end %>
    </div>
</div>
