<h1>Sign Up</h1>

<% if @user.errors.any? %>
    <ol>
        <% @users.errors.full_messages.each do |msg| %>
            <li>>%= msg %></li>
        <% end %>
    </ol>
<% end %>

<%= form_for @user do |f| %>
    <%= f.text_field :username, placeholder: 'Username' %>
    <%= f.email_field :email, placeholder: 'Example@email.com' %>
    <%= f.password_field :password, placeholder: 'Password' %>
    <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>

    <%= f.submit 'Sign up!', class: 'btn' %>
<% end %>
