<% if @current_user.present? %>
    <% if @current_user == @user %>
        <div class="owner-nav nav-btns">
            <% if cookies[:theme] == "light" %>
                <%= link_to "Dark", root_path(theme: "dark"), class: 'btn' %>
            <% else %>
                <%= link_to "Light", root_path(theme: "light"), class: 'btn' %>
            <% end %>
            <% if @current_user.admin? %>
                <%= link_to 'Admin', users_path, class: 'btn'  %>
            <% end %>
            <%= link_to 'Edit', edit_user_path(@user), class: 'btn sesions btns' %>
            <%= link_to 'Delete', root_path, method: 'delete', data: {confirm: 'are you sure you wish to leave us?'}, class: 'btn session-btns' %>
        <% end %>
    </div>
<% end %>


<div class="profile-grid">
    <div class="grid-left">
        <div class="profile-header">
            <h1><%= @user.username %></h1>
            <p class="timestamp">Member since: <%= @user.created_at.strftime '%m, %Y' %></p>
        </div>
        <p class="user-bio"><%= @user.about %></p>
    </div>
    <div class="grid-right">
        <%= cl_image_tag @user.image, class: 'profile-image' if @user.image.present? %>
    </div>
    <br>
    <div class="user-recipes">
            <% @user.recipes.each do |r| %>
                <div class="recipe-content">
                    <div class="grid-left">
                        <div class="recipe-header">
                            <h3 class="recipe-name"><%= link_to r.name, r, class: 'btn' %></h3>
                           
                        </div>
                        <p class="desc-content"><%= r.instructions %> </p>
                    </div>
                    <img src="<%=r.image%>" alt="<%=r.name%>" class="index-img">
                </div>
            <% end %>
    </div>

</div>