<% if @current_user == @user %>
    <div class="owner-nav nav-btns">
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn sesions btns' %>
        <%= link_to 'Delete', root_path, method: 'delete', data: {confirm: 'are you sure you wish to leave us?'}, class: 'btn session-btns' %>
    </div>
<% end %>


<div class="profile-grid">
    <div class="grid-left">
        <div class="profile-header">
            <h1><%= @user.username %></h1>
            <p class="timestamp">Member since: <%= @user.created_at.strftime '%m, %Y' %></p>
        </div>
        <p><%= @user.about %></p>
    </div>
    <div class="grid-right">
        <%= image_tag @user.image, class: 'profile-image' if @user.image.present? %>
    </div>

</div>