<%# this subheading only shows for when you are logged in and on your profile page this allows you to change some settings ect %>
<% if @current_user.present? %>
    <% if @current_user == @user %>
        <div class="owner-nav nav-btns">
            <%# light dark theme using cookies for memory %>
            <% if cookies[:theme] == "light" %>
                <%= link_to "Dark", root_path(theme: "dark"), class: 'btn' %>
            <% else %>
                <%= link_to "Light", root_path(theme: "light"), class: 'btn' %>
            <% end %>
            <%# gives access to admin page if you are admin %>
            <% if @current_user.admin? %>
                <%= link_to 'Admin', users_path, class: 'btn'  %>
            <% end %>
            <%= link_to 'Edit', edit_user_path(@user), class: 'btn sesions btns' %>
            <%= link_to 'Delete', @user, method: 'delete', data: {confirm: 'are you sure you wish to leave us?'}, class: 'btn session-btns' %>
        <% end %>
    </div>
<% end %>


<div class="profile-grid">
    <div class="grid-left">
        <div class="profile-header">
            <h1><%= @user.username %></h1>
            <p class="timestamp">Member since: <%= @user.created_at.strftime '%m, %Y' %></p>
        </div>
        <p class="user-bio"><%= @user.about %></p>
    </div>
    <div class="grid-right">
        <%= cl_image_tag @user.image, class: 'profile-image' if @user.image.present? %>
    </div>
    <br>
    <div class="user-recipes">
        <%# displays recipes most recent at top %>
        <% @user.recipes.order(:created_at).reverse_order.each do |r| %>
            <div class="recipe-content">
                <div class="grid-left">
                    <div class="recipe-header">
                        <h3 class="recipe-name"><%= link_to r.name, r, class: 'btn' %></h3>
                    </div>
                    <p class="desc-content"><%= r.instructions %> </p>
                </div>
                <div class="right">
                    <img src="<%=r.image%>" alt="<%=r.name%>" class="index-img">
                    <p class="timestamp recipe-timestamp"><%= r.created_at.strftime '%I:%M %p %A, %B %e, %Y' %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>