<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Odia&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="navigation">
      <div class="nav-btns">
        <%= link_to 'COOKBOOK', root_path, class: 'btn' %>
        <%= link_to 'All Recipes', recipes_path, class: 'btn' %>
        <% if @current_user.present? %>
          <%= link_to 'New Recipe', new_recipe_path, class: 'btn' %>
        <% end %>
      </div>
      <div class="session-btns">
        <% if @current_user.present? %>
          <% if @current_user.admin? %>
          <%# TODO add link instead of welcome page to edit profile %>
          <%= link_to @current_user.username, @current_user, class: 'btn' %>
            <%= link_to 'Admin', users_path, class: 'btn'  %>
          <% end %>
          <%= link_to 'Sign out', login_path, method: 'delete', class: 'btn'  %>
        <% else %>
          <%= link_to 'Login', login_path, class: 'btn'  %>
          <%= link_to 'Sign up', new_user_path, class: 'btn'  %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
